body{
    background-color: lightskyblue;    
}

.main{
    background-color: black;
}

.header{
    height: 20vh;
    width: 97vw;
    background-color: antiquewhite;
}

.content{
    display: flex;
}

.aside{
    background-color: blueviolet;
    height: 60vh;
    width: 20vw;
}

.article{
    background-color: azure;
    height: 60vh;
    width: 77vw;
}

.footer{
    background-color: darkolivegreen;
    height: 20vh;
    width: 97vw;

}

